{% extends "core/base.html" %}

{% block content %}

<style>
.agreement-table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}
.agreement-header{
    text-align:center;
    margin-bottom:30px;
}

.agreement-header h2{
    margin-bottom:10px;
}

.agreement-header p{
    margin:0;
}
.agreement-table th,
.agreement-table td{
    border:1px solid #000;
    padding:12px;
    vertical-align:top;
}

.agreement-table th{
    background:#f5f5f5;
    text-align:center;
}

.agreement-table td:first-child{
    width:70px;
    text-align:center;
}

.agreement-table td:nth-child(2){
    width:220px;
}
.lender-details-cell{
    height: 150px;
}


</style>
<div
    style="
        background:white;
        padding:18px 24px;
        border-radius:16px;
        margin-bottom:20px;
        box-shadow:0 8px 22px rgba(0,0,0,0.06);
        display:flex;
        gap:60px;
        align-items:center;
    "
>

    <div>
        <div style="color:#6B7280; font-size:14px; margin-bottom:6px;">
            Book
        </div>

        <div style="font-size:24px; font-weight:bold; color:#0B3D91;">
            {% if agreement.book == "BOOK1" %}
                Book 1
            {% elif agreement.book == "BOOK2" %}
                Book 2
            {% else %}
                -
            {% endif %}
        </div>
    </div>

    <div>
        <div style="color:#6B7280; font-size:14px; margin-bottom:6px;">
            Agreement Number
        </div>

        <div style="font-size:24px; font-weight:bold; color:#0B3D91;">
            {{ agreement.agreement_number }}
        </div>
    </div>

</div>
    
<div class="card">

    <div class="agreement-header">

    <h2
    data-en="AGREEMENT"
    data-ms="PERJANJIAN">
    AGREEMENT
</h2>

    <p
    data-en="To be read and understood as an important section in this agreement"
    data-ms="Untuk dibaca dan difahami sebagai suatu bahagian penting dalam perjanjian ini">
    To be read and understood as an important section in this agreement
</p>
</div>
    <hr>
    



        <table class="agreement-table">
            <th
    data-en="No Section"
    data-ms="No Seksyen">
    No Section
</th>

<th
    data-en="Matter"
    data-ms="Perkara">
    Matter
</th>

<th
    data-en="Details"
    data-ms="Butiran">
    Details
</th>

            <tbody>

                <tr>
                    <td>1</td>
                    <td data-en="Agreement Date"
    data-ms="Tarikh Perjanjian">Agreement Date</td>
                    <td>
                        <strong>
    {{ agreement.agreement_date|date:"d/m/Y" }}
</strong>
                    </td>
                </tr>

                <tr>
                    <td>2</td>
                    <td data-en="Lender Details"
    data-ms="Butiran Pemberi Pinjaman">Lender Details</td>
                    <td class="lender-details-cell">
                    
                    </td>
                </tr>

                <tr>
                    <td>3</td>
                    <td data-en="Borrower Details"
    data-ms="Butiran Peminjam">Borrower Details</td>
                    <td>

<strong data-en="Full Name:" data-ms="Nama Penuh:">
    Full Name:
</strong><br>
{{ agreement.customer.full_name }}

<br><br>

<strong data-en="IC / Passport:" data-ms="KP / Pasport:">
    IC / Passport:
</strong><br>
{{ agreement.customer.ic_number }}

<br><br>

<strong data-en="Address:" data-ms="Alamat:">
    Address:
</strong><br>
{{ agreement.customer.home_address_1 }}

</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td data-en="Principal Amount"
    data-ms="Jumlah Wang Pokok">Principal Amount</td>
                    <td>
                        <strong>
    {{ agreement.principal_amount_words }}
</strong>

<br><br>

RM {{ agreement.principal_amount }}
                    </td>
                </tr>

                <tr>
                    <td>5</td>
                    <td data-en="Interest Rate"
    data-ms="Kadar Faedah">Interest Rate</td>
                    <td >
                        <span
    data-en="Interest Rate is"
    data-ms="Kadar faedah adalah"
>
    Interest Rate is
</span>

<strong>
    {{ agreement.interest_rate_words }}
</strong>

%

<strong>
    {{ agreement.interest_rate_percentage }}
</strong>

<span
    data-en="per year"
    data-ms="setahun"
>
   per year
</span>
                    </td>
                </tr>

                <tr>
                    <td>6</td>
                    <td data-en="Repayment Per Installment"
    data-ms="Bayaran Balik Setiap Ansuran">Repayment Per Installment</td>
                    <td>
                        RM {{ agreement.monthly_repayment_amount }}
                    </td>
                </tr>

                <tr>
                    <td>7</td>
                    <td data-en="Total Repayment Amount"
    data-ms="Jumlah Bayaran Balik">Total Repayment Amount</td>
                    <td>
                        RM {{ agreement.total_repayment_amount }}
                    </td>
                </tr>

            </tbody>
        </table>

        <br>

        <div style="display:flex; justify-content:space-between; align-items:center; margin-top:20px;">

    <div>
        <button type="button" class="btn" onclick="setLanguage('en')">
            English
        </button>

        <button type="button" class="btn" onclick="setLanguage('ms')">
            Bahasa Melayu
        </button>
    </div>

    <div>



    <a
    href="{% url 'agreement_edit' agreement.id %}"
    class="btn"
>
    Edit Agreement
</a>

<div id="downloadPopup" class="message-popup" style="display:none;">
    <div class="message-box success">
        Agreement downloaded successfully
    </div>
</div>

<a
    id="downloadPdfBtn"
    href="{% url 'agreement_pdf' agreement.id %}?lang=en"
    class="btn"
    target="agreementPdfFrame"
    onclick="showAgreementDownloadPopup()"
>
    Download Agreement
</a>

<iframe
    name="agreementPdfFrame"
    style="display:none;"
></iframe>

    <a
        href="{% url 'agreement_list' %}"
        class="btn"
        style="background:#6b7280;"
    >
        Back to Agreement List
    </a>
</div>

</div>

        

</div>
<script>
function setLanguage(lang){

    document.querySelectorAll("[data-en]").forEach(function(el){

        if(lang === "en"){
            el.textContent = el.getAttribute("data-en");
        }
        else{
            el.textContent = el.getAttribute("data-ms");
        }

    });

    const downloadPdfBtn = document.getElementById("downloadPdfBtn");

        if(downloadPdfBtn){
    downloadPdfBtn.href =
        "{% url 'agreement_pdf' agreement.id %}?lang=" + lang;
}

    
}
</script>

<script>
function showAgreementDownloadPopup(){

    const popup =
        document.getElementById("downloadPopup");

    popup.style.display = "block";

    setTimeout(function(){
        popup.style.display = "none";
    }, 3000);

}
</script>

{% endblock %}